<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Liste des équipements</h4>
  </div>
  <%= link_to 'Nouvelle équipement', new_computer_path, class: "look-button" %>
  <% if @computers.present? %>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="tab-index">ID</th>
            <th scope="col" class="tab-index">Nom de l'équipement</th>
            <th scope="col" class="tab-index">Fin de vie</th>
            <th scope="col" class="tab-index" colspan="1">Action</th>
            <th scope="col" class="tab-index" colspan="1">Edition</th>
            <th scope="col" class="tab-index" colspan="1">Suppression</th>
          </tr>
        </thead>
        <tbody>
          <% @computers.each do |computer| %>
            <tr>
              <td class="tab-index"><%= computer.id %></td>
              <td><%= computer.hostname %></td>
              <td class="<%= computer.end_of_life_class %>"><%= computer.endoflife.strftime('%d/%m/%Y') %></td>
              <td><%= link_to "Regarder", computer_path(computer.id), class: "look-button" %></td>
              <td><%= link_to "Edité", edit_computer_path(computer.id), class: "edit-button" %></td>
              <td>
                <%= button_to "Detruire", computer_path(computer), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet équipement ?" }, class: "delete-button" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="p-3 mb-2 bg-light text-dark">
      <span class="text-info font-weight-bold">Bienvenue! </span>
      Creer votre première équipement :)
    </div>
  <% end %>
</div>
