<div class="container">
  <div class="row justify-content-center">
    <h3 class="mt-4 mb-4 display-4">Vue détaillée de l'équipement <%= @computer.id %></h3>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
        <tr>
          <th>Nom de l'équipement:</th>
          <td><%= @computer.hostname %></td>
        </tr>
        <tr>
          <th>Date:</th>
          <td><%= @computer.date.present? ? @computer.date.strftime('%d/%m/%Y') : 'Non spécifiée' %></td>
        </tr>
        <tr>
          <th>Fin de vie:</th>
          <td><%= @computer.endoflife.present? ? @computer.endoflife.strftime('%d/%m/%Y') : 'Non spécifiée' %></td>
        </tr>
        <tr>
          <th>Assigné à :</th>
          <td><%= @computer.assigned_to %></td>
        </tr>
        <tr>
          <th>Processeur :</th>
          <td><%= @computer.processor.presence || 'Non spécifié' %></td>
        </tr>
        <tr>
          <th>Mémoire :</th>
          <td><%= @computer.memory.presence || 'Non spécifiée' %></td>
        </tr>
        <tr>
          <th>Type de disque dur :</th>
          <td><%= @computer.type_disk %></td>
        </tr>
        <tr>
          <th>VPN installé :</th>
          <td><%= @computer.vpn ? 'Oui' : 'Non' %></td>
        </tr>
        <tr>
          <th>Compte local :</th>
          <td><%= @computer.local_account %></td>
        </tr>
        <tr>
          <th>Mot de passe local :</th>
          <td><%= @computer.local_password %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <td onclick="event.stopPropagation();">
      <%= link_to edit_computer_path(@computer), class: "button-36" do %>
        <img src="<%= asset_path('computer-50.png') %>" alt="éditer" />
      <% end %>
    </td>
     |
     <td onclick="event.stopPropagation();">
      <%= link_to computers_path, class: "button-35" do %>
        <img src="<%= asset_path('arrow1.png') %>" alt="retour" />
      <% end %>
    <%= button_to "Détruire l'équipement", @computer, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet équipement ?" } %>
  </div>
</div>
