<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Liste des clients</h4>
  </div>
  <%= link_to 'Nouveau client', new_client_path, class: "look-button" %>
  <% if @clients.present? %>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="tab-index">ID</th>
            <th scope="col" class="tab-index">Nom du client</th>
            
            <th scope="col" class="tab-index" colspan="1">Suppression</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr onclick="window.location='<%= client_path(client) %>'">
              <td class="tab-index"><%= client.id %></td>
              <td class="<%= client.name_present? ? 'name-present' : 'name-absent' %>"><%= client.name %></td>
              
              <td>
                <%= button_to "Detruire", client_path(client), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce client ?" }, class: "delete-button" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="p-3 mb-2 bg-light text-dark">
      <span class="text-info font-weight-bold">Bienvenue! </span>
      Creer votre premier client :)
    </div>
  <% end %>
</div>
