<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Liste des clients</h4>
  </div>

  <div class="row justify-content-between align-items-center mb-4">
    <div class="col-md-6">
      <div class="form-group">
        <%= form_with url: clients_path, method: :get, local: true, class: "form-inline" do |form| %>
          <div class="input-group rounded">
            <%= form.text_field :search, placeholder: "Rechercher...", class: "form-control rounded", id: "search-input", aria: { label: "Search" }, aria: { describedby: "search-addon" } %>
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-auto">
      <%= link_to new_client_path, class: "look-button" do %>
        <%= image_tag 'new-customers.svg', alt: 'Nouveau client', class: 'new-client-icon', size: "45x45" %>
      <% end %>
    </div>
  </div>

  <% if @clients.present? %>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="tab-index">ID</th>
            <th scope="col" class="tab-index">Nom du client</th>
            <th scope="col" class="tab-index" colspan="1">Suppression</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr onclick="window.location='<%= client_path(client) %>'">
              <td class="tab-index"><%= client.id %></td>
              <td class="<%= client.name_present? ? 'name-present' : 'name-absent' %>"><%= client.name %></td>
              <td>
                <%= button_to "supprimer", client_path(client), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce client ?" }, class: "btn btn-ghost" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="p-3 mb-2 bg-light text-dark">
      <span class="text-info font-weight-bold">Bienvenue! </span>
      Créez votre premier client :)
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $('#search-input').autocomplete({
      source: "<%= autocomplete_clients_path %>",
      minLength: 2,
      select: function(event, ui) {
        window.location.href = '/clients/' + ui.item.value;
      }
    });
  });
</script>
