<!-- app/views/clients/print_equipments.html.erb -->
<div class="container">
  <div class="row justify-content-center">
    <h3 class="mt-4 mb-4 display-4"><%= @client.name %></h3>
  </div>

  <% if @computers.present? %>
    <div class="row justify-content-center">
      <div class="table-container">
        <table class="table table-bordered mt-4" id="equipment-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nom</th>
              <th scope="col">Acheté le</th>
              <th scope="col">Fin de vie</th>
              <th scope="col">Assigné à</th>
              <th scope="col">Processeur</th>
              <th scope="col">Mémoire</th>
              <th scope="col">Stockage</th>
              <th scope="col">OS</th>
              <th scope="col">VPN</th>
              <th scope="col">Accès RDS</th>
              <th scope="col">Pack Office</th>
              <th scope="col">TeamViewer</th>
              <th scope="col">AD</th>
              <th scope="col">Réseau</th>
              <th scope="col">Antivirus</th>
              <th scope="col">Installé le</th>
              <th scope="col">Compte local</th>
              <th scope="col">Mdp local</th>
              <th scope="col">Commentaires</th>
            </tr>
          </thead>
          <tbody>
            <% @computers.each do |computer| %>
              <tr>
                <td><%= computer.id %></td>
                <td class="<%= computer.hostname.present? ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.hostname %></td>
                <td class="<%= computer.date.present? ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.date.present? ? computer.date.strftime('%d/%m/%Y') : 'Non spécifié' %></td>
                <td class="<%= case (Date.today.year - computer.date.year)
                               when 0..3 then 'bg-success text-white'
                               when 4 then 'bg-warning text-dark'
                               else 'bg-danger text-white'
                             end %>">
                  <%= computer.endoflife.present? ? computer.endoflife.strftime('%d/%m/%Y') : 'Non spécifié' %>
                </td>
                <td class="<%= computer.assigned_to.present? ? 'bg-success text-white' : 'bg-warning text-dark' %>"><%= computer.assigned_to.presence || 'Non assigné' %></td>
                <td class="<%= computer.processor.present? ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.processor %></td>
                <td class="<%= computer.memory.present? && computer.memory.to_i >= 8 ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.memory %></td>
                <td class="<%= %w[SSD NVMe].include?(computer.type_disk) ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.type_disk %></td>
                <td class="<%= computer.os.present? ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.os %></td>
                <td class="<%= computer.vpn ? 'bg-success text-white' : 'bg-warning text-dark' %>"><%= computer.vpn ? 'Oui' : 'Non' %></td>
                <td class="<%= computer.rds ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.rds ? 'Oui' : 'Non' %></td>
                <td class="<%= computer.pack_office_installe == 'Oui' ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.pack_office_installe %></td>
                <td class="<%= computer.teamviewer_installe == 'Oui' ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.teamviewer_installe %></td>
                <td class="<%= computer.ad ? 'bg-success text-white' : 'bg-warning text-dark' %>"><%= computer.ad ? 'Oui' : 'Non' %></td>
                <td class="<%= ['100Mb', 'Téléphone IP', 'Partage de connexion'].include?(computer.reseau) ? 'bg-danger text-white' : 'bg-success text-white' %>"><%= computer.reseau %></td>
                <td class="<%= computer.antivirus_name.present? ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.antivirus_name %></td>
                <td class="<%= computer.antivirus_start_date.present? ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.antivirus_start_date.present? ? computer.antivirus_start_date.strftime('%d/%m/%Y') : 'Non spécifié' %></td>
                <td class="<%= computer.local_account.present? ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.local_account %></td>
                <td class="<%= computer.local_password.present? ? 'bg-success text-white' : 'bg-danger text-white' %>"><%= computer.local_password %></td>
                <td><%= computer.commentaire %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="alert alert-info mt-4">
      <strong>Bienvenue !</strong> Créez votre premier équipement :)
    </div>
  <% end %>
</div>
