<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Vue détaillée : <%= @client.name %></h4>
  </div>
  <%# Section fiche client %>
  <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />

  <div class="card-trip-infos">
    <div class="row justify-content-center">
      <table class="table" id="client-details-table">
          <tr>
            <th scope="col">
              <strong>Nom du client : </strong>
            </th>
            <td scope="row">
              <%= @client.name %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              <strong>Téléphone : </strong>
            </th>
            <td scope="row">
              <%= @client.formatted_phone %>
            </td>
          </tr>
            <tr>
              <th scope="col">
              <strong>Adresse : </strong>
              </th>
              <td scope="row">
                <%= @client.address %>
              </td>
            </tr>
          <tr>
            <th scope="col">
              <strong>Localisation : </strong>
            </th>
            <td scope="row">
              <%= @client.location %> 
            </td>
          </tr>
      </table>
    </div>
    <h2 class="card-trip-pricing">Contrat actif</h2>
    <img src="https://png.pngtree.com/element_our/20190524/ourmid/pngtree-the-companys-general-logo-is-commercially-available-image_1107874.jpg" class="card-trip-user avatar-bordered" />
  </div>
  <div>
    <%= link_to "Editer", edit_client_path(@client) %> |
    <%= link_to "Retour aux clients", clients_path %>
    <%= button_to "Détruire la fiche client", @client, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce client ?" }, class: "btn btn-ghost" %>
  </div>
</div>
  <!-- Section pour afficher les équipements -->
  <div class="container mt-4">
    <div class="row justify-content-center">
      <h4 class="mt-4 display-4">Liste des équipements</h4>
    </div>
    <%= link_to 'Nouvel équipement', new_client_computer_path(@client), class: "btn btn-primary" %>
    
    <% if @computers.present? %>
      <div class="row justify-content-center">
        <div class="table-container">
          <table class="table table-bordered mt-4" id="equipment-table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom de l'équipement</th>
                <th scope="col">Date d'achat</th>
                <th scope="col">Fin de vie</th>
                <th scope="col">Assigné à</th>
                <th scope="col">Processeur</th>
                <th scope="col">Mémoire</th>
                <th scope="col">Type de disque</th>
                <th scope="col">Système d'exploitation</th>
                <th scope="col">VPN installé</th>
                <th scope="col">Accès RDS</th>
                <th scope="col">Pack Office installé</th>
                <th scope="col">TeamViewer installé</th>
                <th scope="col">Active Directory</th>
                <th scope="col">Connexion réseau</th>
                <th scope="col">Nom de l'antivirus</th>
                <th scope="col">Date de début de l'antivirus</th>
                <th scope="col">Compte local</th>
                <th scope="col">Mot de passe local</th>
                <th scope="col">Commentaires</th>
                <th scope="col">Suppression</th>
              </tr>
            </thead>
            <tbody>
              <% @computers.each do |computer| %>
                <tr onclick="window.location='<%= computer_path(computer) %>'">
                  <td><%= computer.id %></td>
                  <td class="<%= computer.hostname.present? ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.hostname %></td>
                  <td class="<%= computer.date.present? ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.date.present? ? computer.date.strftime('%d/%m/%Y') : 'Non spécifié' %></td>
                  <td class="<%= case (Date.today.year - computer.date.year)
                                 when 0..3 then 'bg-success text-dark'
                                 when 4 then 'bg-warning text-dark'
                                 else 'bg-danger text-white'
                               end %>">
                    <%= computer.endoflife.present? ? computer.endoflife.strftime('%d/%m/%Y') : 'Non spécifié' %>
                  </td>
                  <td class="<%= computer.assigned_to.present? ? 'bg-success text-dark' : 'bg-warning text-dark' %>"><%= computer.assigned_to.presence || 'Non assigné' %></td>
                  <td class="<%= computer.processor.present? ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.processor %></td>
                  <td class="<%= computer.memory.present? && computer.memory.to_i >= 8 ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.memory %></td>
                  <td class="<%= %w[SSD NVMe].include?(computer.type_disk) ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.type_disk %></td>
                  <td class="<%= computer.os.present? ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.os %></td>
                  <td class="<%= computer.vpn ? 'bg-success text-dark' : 'bg-warning text-dark' %>"><%= computer.vpn ? 'Oui' : 'Non' %></td>
                  <td class="<%= computer.rds ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.rds ? 'Oui' : 'Non' %></td>
                  <td class="<%= computer.pack_office_installe == 'Oui' ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.pack_office_installe %></td>
                  <td class="<%= computer.teamviewer_installe == 'Oui' ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.teamviewer_installe %></td>
                  <td class="<%= computer.ad ? 'bg-success text-dark' : 'bg-warning text-dark' %>"><%= computer.ad ? 'Oui' : 'Non' %></td>
                  <td class="<%= ['100Mb', 'Téléphone IP', 'Partage de connexion'].include?(computer.reseau) ? 'bg-danger text-white' : 'bg-success text-dark' %>"><%= computer.reseau %></td>
                  <td class="<%= computer.antivirus_name.present? ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.antivirus_name %></td>
                  <td class="<%= computer.antivirus_start_date.present? ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.antivirus_start_date.present? ? computer.antivirus_start_date.strftime('%d/%m/%Y') : 'Non spécifié' %></td>
                  <td class="<%= computer.local_account.present? ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.local_account %></td>
                  <td class="<%= computer.local_password.present? ? 'bg-success text-dark' : 'bg-danger text-white' %>"><%= computer.local_password %></td>
                  <td><%= computer.commentaire %></td>
                  <td>
                    <%= button_to "Supprimer", computer_path(computer), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet équipement ?" }, class: "btn btn-ghost" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Bouton pour afficher la liste des équipements dans une nouvelle fenêtre pour impression -->
      <div class="row justify-content-center mt-3">
        <%= link_to 'Afficher la liste des équipements pour impression', print_equipments_client_path(@client), target: "_blank", class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="alert alert-info mt-4">
        <strong>Bienvenue !</strong> Créez votre premier équipement en cliquant sur le bouton ci-dessus.
      </div>
    <% end %>
  </div>
</div>