<div class="container background-color">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Vue détaillée : <%= @client.name %></h4>
  </div>
  <%# Section fiche client %>
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />

    <div class="card-trip-infos">
      <div class="row justify-content-center">
        <table class="table" id="client-details-table">
          <tr>
            <th scope="col">
              <strong>Nom du client : </strong>
            </th>
            <td scope="row">
              <%= @client.name %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              <strong>Téléphone : </strong>
            </th>
            <td scope="row">
              <%= @client.formatted_phone %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              <strong>Adresse : </strong>
            </th>
            <td scope="row">
              <%= @client.address %>
            </td>
          </tr>
          <tr>
            <th scope="col">
              <strong>Localisation : </strong>
            </th>
            <td scope="row">
              <%= @client.location %> 
            </td>
          </tr>
        </table>
      </div>
      <h2 class="card-trip-pricing">Contrat actif</h2>
      <img src="https://png.pngtree.com/element_our/20190524/ourmid/pngtree-the-companys-general-logo-is-commercially-available-image_1107874.jpg" class="card-trip-user avatar-bordered" />
    </div>
    <div>
      <%= link_to "Editer", edit_client_path(@client) %> |
      <%= link_to "Retour aux clients", clients_path %>
      <%= button_to "Détruire la fiche client", @client, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce client ?" }, class: "btn btn-ghost" %>
    </div>
  </div>

  <!-- Section pour afficher les équipements -->
  <div class="container background-color mt-4">
    <div class="row justify-content-center">
      <h4 class="mt-4 display-4">Liste des équipements</h4>
    </div>

    <div class="col-auto">
      <%= link_to new_client_computer_path(@client), class: "btn" do %>
        <%= image_tag 'add-computer.svg', alt: 'Nouvelle équipements', class: 'new-client-icon', size: "50x50" %>
        <div>
          <h4>Ajouter un nouvel équipement.</h4>
        </div>
      <% end %>
    </div>
    
    <% if @computers.present? %>
      <div class="row justify-content-center">
        <div class="table-container">
          <table class="table table-bordered mt-4" id="equipment-table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">
                  <%= image_tag('table/input-text.svg', alt: 'Hostname', title: 'Nom de la machine', width: 24, height: 24) %>
                </th>
                <th scope="col">
                  acheté le :
                </th>
                <th scope="col">
                  <%= image_tag('table/endoflife.png', alt: 'end of life', title: 'Date de fin de vie estimée', width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/user.svg', alt: 'User', title: 'Machine assigné à :', width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/CPU.svg', alt: 'CPU', title: "Processeur de la machine", width: 24, height: 24) %>

                </th>
                <th scope="col">
                  <%= image_tag('table/RAM.svg', alt: 'Memory', title: 'Mémoire installer dans la machine', width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/storage.svg', alt: 'Storage', title: 'Type de disque dur installé dans la machine', width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/OS.png', alt: 'Operating system', title: "Système d'exploitation", width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/vpn-50.png', alt: 'VPN', width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/laptop-arrow-down.svg', alt: 'Remote desktop', title: "RDS (remote)",width: 24, height: 24) %>
                  </th>
                <th scope="col">
                  <%= image_tag('table/MsOffice.svg', alt: 'Microsoft office',title: "Microsoft office installé ?", width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/teamviewer.png', alt: 'Teamviewer', title: "Teamviewer installé ?",width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/AD.svg', alt: 'Active Directory', title: "Poste ajouté à l'active directory ?",width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/network-wired.svg', alt: 'Network',title: "Type de connexion", width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/shield-quartered.svg', alt: 'Antivirus', title: "Marque/modèle de l'antivirus",width: 24, height: 24) %>
                </th>
                <th scope="col">Installé le</th>
                <th scope="col">
                  <%= image_tag('table/local-account.svg', alt: 'Local account', title: "Compte local",width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/key.svg', alt: 'Pass', title: "Password local",width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/comment.svg', alt: 'Comment', title: "Commentaire",width: 24, height: 24) %>
                </th>
                <th scope="col">
                  <%= image_tag('table/destroy.svg', alt: 'Destroy',title: "Supprimer l'équipement", width: 24, height: 24) %>
                </th>
              </tr>
            </thead>
              <tbody>
                <% @computers.each do |computer| %>
                  <tr onclick="window.location='<%= computer_path(computer) %>'">
                    <td class="align-middle text-center"><%= computer.id %></td>
                    
                    <!-- Hostname -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.hostname.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.hostname.presence || 'N.C.' %>
                      </span>
                    </td>
                    
                    <!-- Date d'achat -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.date.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.date.present? ? computer.date.strftime('%d/%m/%Y') : 'N.C.' %>
                      </span>
                    </td>

                    <!-- Date de fin de vie estimée -->
                    <td class="align-middle text-center">
                      <span class="<%= case (Date.today.year - (computer.date&.year || 0))
                                         when 0..3 then 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill'
                                         when 4 then 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill'
                                         else 'badge rounded-pill bg-danger text-white'
                                       end %>">
                        <%= computer.endoflife.present? ? computer.endoflife.strftime('%d/%m/%Y') : 'N.C.' %>
                      </span>
                    </td>

                    <!-- Assigné à -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.assigned_to.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.assigned_to.presence || 'Non assigné' %>
                      </span>
                    </td>

                    <!-- Processeur -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.processor.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.processor.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- Mémoire -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.memory.present? && computer.memory.to_i >= 8 ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-danger-subtle text-danger-emphasis rounded-pill' %>">
                        <%= computer.memory.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- Type de disque -->
                    <td class="align-middle text-center">
                      <span class="<%= %w[SSD NVMe].include?(computer.type_disk) ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill' %>">
                        <%= computer.type_disk.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- OS -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.os.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.os.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- VPN -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.vpn ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.vpn ? 'Oui' : 'Non' %>
                      </span>
                    </td>

                    <!-- RDS -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.rds ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.rds ? 'Oui' : 'Non' %>
                      </span>
                    </td>

                    <!-- Pack Office -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.pack_office_installe == 'Oui' ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill' %>">
                        <%= computer.pack_office_installe.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- TeamViewer -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.teamviewer_installe.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.teamviewer_installe.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- Active Directory -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.ad ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.ad ? 'Oui' : 'N.C.' %>
                      </span>
                    </td>

                    <!-- Réseau -->
                    <td class="align-middle text-center">
                      <span class="<%= ['100Mb', 'Téléphone IP', 'Partage de connexion'].include?(computer.reseau) ? 'badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill' : 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' %>">
                        <%= computer.reseau.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- Antivirus -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.antivirus_name.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.antivirus_name.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- Date d'installation Antivirus -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.antivirus_start_date.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.antivirus_start_date.present? ? computer.antivirus_start_date.strftime('%d/%m/%Y') : 'N.C.' %>
                      </span>
                    </td>

                    <!-- Compte local -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.local_account.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.local_account.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- Mot de passe local -->
                    <td class="align-middle text-center">
                      <span class="<%= computer.local_password.present? ? 'badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill' : 'badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill' %>">
                        <%= computer.local_password.presence || 'N.C.' %>
                      </span>
                    </td>

                    <!-- Commentaire -->
                    <td class="align-middle text-center">
                      <%= computer.commentaire.presence || 'N.C.' %>
                    </td>

                    <!-- Supprimer équipement -->
                    <td class="align-middle text-center">
                      <%= button_to "Supprimer", computer_path(computer), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet équipement ?" }, class: "btn btn-ghost" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>

      <!-- Bouton pour afficher la liste des équipements dans une nouvelle fenêtre pour impression -->
      <div class="row justify-content-center mt-3">
        <%= link_to 'Afficher la liste des équipements pour impression', print_equipments_client_path(@client), target: "_blank", class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="alert alert-info mt-4">
        <strong>Bienvenue !</strong> Créez votre premier équipement en cliquant sur le bouton ci-dessus.
      </div>
    <% end %>
  </div>
</div>
