<!DOCTYPE html>
<html>
  <head>
    <title>Parcinventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all", "rel": "stylesheet" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if !(controller.controller_name == 'pages' && controller.action_name == 'home') || user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
