<!DOCTYPE html>
<html>
<head>
  <title>Parcinventory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all", "rel": "stylesheet" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'print', media: 'print' %>

  <!-- jQuery et jQuery UI pour l'autocomplétion -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
  <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.1/jquery-ui.min.js' %>
  <%= stylesheet_link_tag 'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %>

  <!-- CDN jsPDF et autoTable -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
</head>
<body>
  <% if !(controller.controller_name == 'pages' && controller.action_name == 'home') || user_signed_in? %>
    <%= render "shared/navbar" %>
  <% end %>

  <%= render "shared/flashes" %>

  <%= yield %>

  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/esbo22/parcinventory"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is created by <i class="fas fa-heart"></i> Esbo22
    </div>
  </div>

</body>
</html>
